/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: baseline;
  color: inherit;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  line-height: 1.5;
  font-size: 1rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container-12 {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1310px;
  padding: 0 30px;
}
.container-12 .row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.container-12 .row .col-1 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 1) + (30px * (1 - 1)));
}
.container-12 .row .col-2 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 2) + (30px * (2 - 1)));
}
.container-12 .row .col-3 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 3) + (30px * (3 - 1)));
}
.container-12 .row .col-4 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 4) + (30px * (4 - 1)));
}
.container-12 .row .col-5 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 5) + (30px * (5 - 1)));
}
.container-12 .row .col-6 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 6) + (30px * (6 - 1)));
}
.container-12 .row .col-7 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 7) + (30px * (7 - 1)));
}
.container-12 .row .col-8 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 8) + (30px * (8 - 1)));
}
.container-12 .row .col-9 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 9) + (30px * (9 - 1)));
}
.container-12 .row .col-10 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 10) + (30px * (10 - 1)));
}
.container-12 .row .col-11 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 11) + (30px * (11 - 1)));
}
.container-12 .row .col-12 {
  margin: 0 15px;
  width: calc(((100% - 360px) * 0.0833333333 * 12) + (30px * (12 - 1)));
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-1 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 1) + (30px * (1 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-1 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 1) + (30px * (1 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-1 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 1) + (30px * (1 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-1 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 1) + (30px * (1 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-1 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 1) + (30px * (1 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-2 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 2) + (30px * (2 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-2 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 2) + (30px * (2 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-2 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 2) + (30px * (2 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-2 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 2) + (30px * (2 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-2 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 2) + (30px * (2 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-3 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 3) + (30px * (3 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-3 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 3) + (30px * (3 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-3 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 3) + (30px * (3 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-3 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 3) + (30px * (3 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-3 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 3) + (30px * (3 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-4 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 4) + (30px * (4 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-4 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 4) + (30px * (4 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-4 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 4) + (30px * (4 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-4 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 4) + (30px * (4 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-4 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 4) + (30px * (4 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-5 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 5) + (30px * (5 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-5 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 5) + (30px * (5 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-5 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 5) + (30px * (5 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-5 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 5) + (30px * (5 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-5 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 5) + (30px * (5 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-6 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 6) + (30px * (6 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-6 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 6) + (30px * (6 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-6 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 6) + (30px * (6 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-6 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 6) + (30px * (6 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-6 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 6) + (30px * (6 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-7 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 7) + (30px * (7 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-7 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 7) + (30px * (7 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-7 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 7) + (30px * (7 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-7 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 7) + (30px * (7 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-7 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 7) + (30px * (7 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-8 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 8) + (30px * (8 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-8 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 8) + (30px * (8 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-8 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 8) + (30px * (8 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-8 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 8) + (30px * (8 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-8 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 8) + (30px * (8 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-9 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 9) + (30px * (9 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-9 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 9) + (30px * (9 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-9 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 9) + (30px * (9 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-9 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 9) + (30px * (9 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-9 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 9) + (30px * (9 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-10 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 10) + (30px * (10 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-10 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 10) + (30px * (10 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-10 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 10) + (30px * (10 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-10 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 10) + (30px * (10 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-10 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 10) + (30px * (10 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-11 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 11) + (30px * (11 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-11 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 11) + (30px * (11 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-11 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 11) + (30px * (11 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-11 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 11) + (30px * (11 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-11 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 11) + (30px * (11 - 1)));
  }
}
@media only screen and (min-width: 0) {
  .container-12 .row .col-xs-12 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 12) + (30px * (12 - 1)));
  }
}
@media only screen and (min-width: 576px) {
  .container-12 .row .col-sm-12 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 12) + (30px * (12 - 1)));
  }
}
@media only screen and (min-width: 768px) {
  .container-12 .row .col-md-12 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 12) + (30px * (12 - 1)));
  }
}
@media only screen and (min-width: 992px) {
  .container-12 .row .col-lg-12 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 12) + (30px * (12 - 1)));
  }
}
@media only screen and (min-width: 1200px) {
  .container-12 .row .col-xl-12 {
    margin: 0 15px;
    width: calc(((100% - 360px) * 0.0833333333 * 12) + (30px * (12 - 1)));
  }
}

@media only screen and (min-width: 0) {
  .p-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .p-sm-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .p-md-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .p-lg-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .p-xl-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 0) {
  .pt-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .pt-sm-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .pt-md-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .pt-lg-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .pt-xl-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 0) {
  .pr-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .pr-sm-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .pr-md-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .pr-lg-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .pr-xl-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 0) {
  .pb-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .pb-sm-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .pb-md-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .pb-lg-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .pb-xl-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 0) {
  .pl-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .pl-sm-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .pl-md-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .pl-lg-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .pl-xl-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 0) {
  .px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .px-sm-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .px-md-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .px-lg-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .px-xl-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 0) {
  .py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .py-sm-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .py-md-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .py-lg-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .py-xl-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 0) {
  .p-5 {
    padding: 5px;
  }
}
@media only screen and (min-width: 576px) {
  .p-sm-5 {
    padding: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .p-md-5 {
    padding: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .p-lg-5 {
    padding: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .p-xl-5 {
    padding: 5px;
  }
}
@media only screen and (min-width: 0) {
  .pt-5 {
    padding-top: 5px;
  }
}
@media only screen and (min-width: 576px) {
  .pt-sm-5 {
    padding-top: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .pt-md-5 {
    padding-top: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .pt-lg-5 {
    padding-top: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .pt-xl-5 {
    padding-top: 5px;
  }
}
@media only screen and (min-width: 0) {
  .pr-5 {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 576px) {
  .pr-sm-5 {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .pr-md-5 {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .pr-lg-5 {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .pr-xl-5 {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 0) {
  .pb-5 {
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 576px) {
  .pb-sm-5 {
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .pb-md-5 {
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .pb-lg-5 {
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .pb-xl-5 {
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 0) {
  .pl-5 {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 576px) {
  .pl-sm-5 {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .pl-md-5 {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .pl-lg-5 {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .pl-xl-5 {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 0) {
  .px-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (min-width: 576px) {
  .px-sm-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .px-md-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .px-lg-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .px-xl-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (min-width: 0) {
  .py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 576px) {
  .py-sm-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .py-md-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .py-lg-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .py-xl-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 0) {
  .m-0 {
    margin: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .m-sm-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .m-md-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .m-lg-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .m-xl-0 {
    padding: 0px;
  }
}
@media only screen and (min-width: 0) {
  .mt-0 {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .mt-sm-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .mt-md-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .mt-lg-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .mt-xl-0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 0) {
  .mr-0 {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .mr-sm-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .mr-md-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .mr-lg-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .mr-xl-0 {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 0) {
  .mb-0 {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .mb-sm-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .mb-md-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .mb-lg-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .mb-xl-0 {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 0) {
  .ml-0 {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .ml-sm-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .ml-md-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .ml-lg-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .ml-xl-0 {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 0) {
  .mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .mx-sm-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .mx-md-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .mx-lg-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .mx-xl-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 0) {
  .my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .my-sm-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .my-md-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 992px) {
  .my-lg-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .my-xl-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 0) {
  .m-16 {
    margin: 16px;
  }
}
@media only screen and (min-width: 576px) {
  .m-sm-16 {
    padding: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .m-md-16 {
    padding: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .m-lg-16 {
    padding: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .m-xl-16 {
    padding: 16px;
  }
}
@media only screen and (min-width: 0) {
  .mt-16 {
    margin-top: 16px;
  }
}
@media only screen and (min-width: 576px) {
  .mt-sm-16 {
    padding-top: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .mt-md-16 {
    padding-top: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .mt-lg-16 {
    padding-top: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .mt-xl-16 {
    padding-top: 16px;
  }
}
@media only screen and (min-width: 0) {
  .mr-16 {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 576px) {
  .mr-sm-16 {
    padding-right: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .mr-md-16 {
    padding-right: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .mr-lg-16 {
    padding-right: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .mr-xl-16 {
    padding-right: 16px;
  }
}
@media only screen and (min-width: 0) {
  .mb-16 {
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 576px) {
  .mb-sm-16 {
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .mb-md-16 {
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .mb-lg-16 {
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .mb-xl-16 {
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 0) {
  .ml-16 {
    margin-left: 16px;
  }
}
@media only screen and (min-width: 576px) {
  .ml-sm-16 {
    padding-left: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .ml-md-16 {
    padding-left: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .ml-lg-16 {
    padding-left: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .ml-xl-16 {
    padding-left: 16px;
  }
}
@media only screen and (min-width: 0) {
  .mx-16 {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media only screen and (min-width: 576px) {
  .mx-sm-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .mx-md-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .mx-lg-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .mx-xl-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media only screen and (min-width: 0) {
  .my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 576px) {
  .my-sm-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .my-md-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .my-lg-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .my-xl-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 0) {
  .fs-20 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 576px) {
  .fs-sm-20 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .fs-md-20 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .fs-lg-20 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .fs-xl-20 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=grid_framework.css.map */
