.text-center {
  text-align: center;
}

@font-face {
  font-family: "Norse";
  src: url("../typography/norse/Norse-Bold.otf");
}
.main-heading {
  color: #ce973e;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.secondary-heading {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(74, 74, 74, 0.7);
}

.navbar {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}
.navbar .left-nav-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbar .left-nav-section .hamburger-menu {
  display: block;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2032%2032%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20stroke%3D%27%236abfc3%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20d%3D%27M4%208h24M4%2016h24M4%2024h24%27%2F%3E%3C%2Fsvg%3E") left top no-repeat;
  width: 30px;
  height: 30px;
}
.navbar .logo-brand {
  display: inline-flex;
  align-items: center;
}
.navbar .logo-brand .logo-image {
  height: 60px;
}
.navbar .logo-brand .logo-text {
  font-size: 24px;
  overflow-x: visible;
  font-weight: bold;
  margin-left: 16px;
  font-family: "Norse";
  line-height: 36px;
  color: #CC9543;
  white-space: nowrap;
}
.navbar .right-nav-section {
  display: none;
}
.navbar .nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .nav-link {
  display: inline-block;
  padding: 8px;
  color: rgba(74, 74, 74, 0.7);
  font-weight: bold;
}
.navbar .nav-link:hover {
  color: #000;
}
.navbar .list-divider {
  font-weight: lighter;
  font-size: 24px;
}

.btn-blue-green {
  display: inline-block;
  background: #6abfc3;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.btn-blue-green:hover {
  display: inline-block;
  background: #8cc2c5;
}

.hero-img {
  width: 100%;
}

.how-it-works .how-it-works-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.how-it-works .how-it-works-title h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4A4A4A;
}
.how-it-works .how-it-works-title p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(74, 74, 74, 0.7);
  line-height: 1.88;
}
.how-it-works .how-it-works-tiles {
  margin: 0 auto;
  max-width: 1080px;
}
.how-it-works .how-it-works-tiles .how-it-works-tile .how-it-works-image {
  height: 120px;
}
.how-it-works .how-it-works-tiles .how-it-works-tile h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4A4A4A;
}
.how-it-works .how-it-works-tiles .how-it-works-tile p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(74, 74, 74, 0.7);
  line-height: 1.88;
}

@media only screen and (min-width: 576px) {
  .main-heading {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 168px;
  }
  .navbar .left-nav-section {
    width: auto;
  }
  .navbar .left-nav-section .hamburger-menu {
    display: none;
  }
  .navbar .nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .navbar .nav-link {
    display: inline-block;
    padding: 8px;
    color: rgba(74, 74, 74, 0.7);
    font-weight: bold;
    white-space: nowrap;
  }
  .navbar .nav-link:hover {
    color: #000;
  }
  .navbar .right-nav-section {
    display: block;
  }

  .how-it-works .how-it-works-tiles {
    margin: 0 auto;
    max-width: 1080px;
  }
  .how-it-works .how-it-works-tiles .how-it-works-tile .how-it-works-image {
    height: 165px;
  }
}
@media only screen and (min-width: 1036px) {
  .navbar .logo-brand {
    display: inline-flex;
    align-items: center;
  }
  .navbar .logo-brand .logo-image {
    height: 70px;
  }
  .navbar .logo-brand .logo-text {
    font-size: 32px;
    overflow-x: visible;
    font-weight: bold;
    margin-left: 16px;
    font-family: "Norse";
    line-height: 48px;
    color: #CC9543;
    white-space: nowrap;
  }
}

/*# sourceMappingURL=main_style.css.map */
