.text-center {
  text-align: center;
}

@font-face {
  font-family: "Norse";
  src: url("../typography/norse/Norse-Bold.otf");
}
.main-heading {
  color: #ce973e;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.secondary-heading {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(74, 74, 74, 0.7);
}

.navbar {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}
.navbar .left-nav-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbar .left-nav-section .hamburger-menu {
  display: block;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2032%2032%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20stroke%3D%27%236abfc3%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20d%3D%27M4%208h24M4%2016h24M4%2024h24%27%2F%3E%3C%2Fsvg%3E") left top no-repeat;
  width: 30px;
  height: 30px;
}
.navbar .logo-brand {
  display: inline-flex;
  align-items: center;
}
.navbar .logo-brand .logo-image {
  height: 60px;
}
.navbar .logo-brand .logo-text {
  font-size: 24px;
  overflow-x: visible;
  font-weight: bold;
  margin-left: 16px;
  font-family: "Norse";
  line-height: 36px;
  color: #CC9543;
  white-space: nowrap;
}
.navbar .right-nav-section {
  display: none;
}
.navbar .nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .nav-link {
  display: inline-block;
  padding: 8px;
  color: rgba(74, 74, 74, 0.7);
  font-weight: bold;
}
.navbar .nav-link:hover {
  color: #000;
}
.navbar .list-divider {
  font-weight: lighter;
  font-size: 24px;
}

.btn-blue-green {
  display: inline-block;
  background: #6abfc3;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.btn-blue-green:hover {
  display: inline-block;
  background: #8cc2c5;
}

.hero-img {
  width: 100%;
}

.how-it-works .how-it-works-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.how-it-works .how-it-works-title h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4A4A4A;
}
.how-it-works .how-it-works-title p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(74, 74, 74, 0.7);
  line-height: 1.88;
}
.how-it-works .how-it-works-tiles {
  margin: 0 auto;
  max-width: 1080px;
}
.how-it-works .how-it-works-tiles .how-it-works-tile .how-it-works-image {
  height: 120px;
}
.how-it-works .how-it-works-tiles .how-it-works-tile h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4A4A4A;
}
.how-it-works .how-it-works-tiles .how-it-works-tile p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(74, 74, 74, 0.7);
  line-height: 1.88;
}

.curriculum-details {
  background: #f3f3f3;
}
.curriculum-details h2 {
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: bold;
  color: #4A4A4A;
}
.curriculum-details .curriculum-details-grid .container-12 {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.curriculum-details .curriculum-details-grid .container-12 .row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item {
  background: #fff;
  padding: 25px;
  width: 270px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 16px 0px;
}
.curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item .curriculum-details-img {
  height: 80px;
  width: 80px;
}
.curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4A4A4A;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px 0 0;
}
.curriculum-details .curriculum-details-grid .btn-gold {
  display: inline-block;
  background: #CC9543;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.curriculum-details .curriculum-details-grid .btn-gold:hover {
  opacity: 0.8;
}

.success-stories {
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1.88;
  background-image: linear-gradient(to bottom, #fff, #eee);
}
.success-stories h2 {
  font-weight: bold;
  color: #4A4A4A;
}
.success-stories .success-stories-container {
  margin: 100px auto 0;
  max-width: 600px;
}
.success-stories .success-stories-container .success-story {
  display: flex;
}
.success-stories .success-stories-container .success-story .photo {
  flex: 0 0 100px;
}
.success-stories .success-stories-container .success-story .photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.success-stories .success-stories-container .success-story .success-content {
  text-align: left;
}
.success-stories .success-stories-container .success-story .success-content .person {
  color: #ce973e;
}
.success-stories .success-stories-container .success-story .success-content .person:hover {
  color: #000;
}
.success-stories .success-stories-container .success-story .success-content p {
  color: rgba(74, 74, 74, 0.7);
}
.success-stories .more-success-stories {
  display: block;
  color: rgba(74, 74, 74, 0.7);
  text-decoration-line: underline;
}
.success-stories .more-success-stories:hover {
  color: #000;
}
.success-stories .bottom-cta {
  padding: 80px 40px;
}
.success-stories .bottom-cta p {
  color: rgba(74, 74, 74, 0.7);
  font-size: 35.2px;
}

footer {
  display: flex;
  height: 70px;
}
footer .logo-brand-section {
  display: none;
}
footer .logo-brand-section {
  flex: 2;
}
footer .footer-links {
  flex: 1;
}
footer .social {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
footer .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 36px;
}
footer .social .fab {
  color: #CC9543;
  font-size: 24px;
}
footer .social .fab:hover {
  color: black;
}
footer .logo-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .logo-brand .logo-image {
  height: 60px;
}
footer .logo-brand .logo-text {
  font-size: 19.2px;
  font-family: "Norse";
  color: #CC9543;
  padding-left: 9.6px;
}
footer .footer-links {
  display: none;
  justify-content: center;
  align-items: center;
  color: rgba(74, 74, 74, 0.7);
}
footer .footer-links .footer-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  height: 90px;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
footer .footer-links .footer-links-container .footer-link {
  flex-basis: 30px;
  font-weight: bold;
}
footer .footer-links .footer-links-container .footer-link:hover {
  color: #000;
}

.floating-comments-dropdown-btn {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.floating-comments-dropdown-btn .hidden-floating-btn-container {
  position: absolute;
  width: 100%;
}
.floating-comments-dropdown-btn .hidden-floating-btn-container .hidden-floating-btn {
  display: block;
  background: #6abfc3;
  font-size: 24px;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  margin: 0 0.6rem 20px;
}
.floating-comments-dropdown-btn .hidden-floating-btn-container .hidden-floating-btn:hover {
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.floating-comments-dropdown-btn .hidden-floating-btn-one {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: top 1s ease-out, opacity 0.5s;
}
.floating-comments-dropdown-btn .hidden-floating-btn-two {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: top 1s ease-out, opacity 0.5s;
}
.floating-comments-dropdown-btn .floating-comments-btn {
  position: relative;
  padding: 16px;
  background: #6abfc3;
  border-radius: 50%;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 100;
}
.floating-comments-dropdown-btn .floating-comments-btn:hover {
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.2);
}
.floating-comments-dropdown-btn .floating-comments-btn:hover + .hidden-floating-btn-two {
  top: -124px;
  opacity: 1;
}
.floating-comments-dropdown-btn .floating-comments-btn:hover ~ .hidden-floating-btn-one {
  top: -62px;
  opacity: 1;
}
.floating-comments-dropdown-btn .fa-comments {
  color: #fff;
  font-size: 32px;
}

@media only screen and (min-width: 480px) {
  footer {
    height: 140px;
  }
  footer .footer-links {
    display: flex;
  }
}
@media only screen and (min-width: 576px) {
  .main-heading {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .curriculum-details .curriculum-details-grid .container-12 .row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item {
    background: #fff;
    padding: 23px 46px 25px;
    width: auto;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item .curriculum-details-img {
    height: 160px;
    width: 160px;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item h4 {
    margin: 18px 0 8px;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item:nth-of-type(2n + 1) {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 168px;
  }
  .navbar .left-nav-section {
    width: auto;
  }
  .navbar .left-nav-section .hamburger-menu {
    display: none;
  }
  .navbar .nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .navbar .nav-link {
    display: inline-block;
    padding: 8px;
    color: rgba(74, 74, 74, 0.7);
    font-weight: bold;
    white-space: nowrap;
  }
  .navbar .nav-link:hover {
    color: #000;
  }
  .navbar .right-nav-section {
    display: block;
  }

  .how-it-works .how-it-works-tiles {
    margin: 0 auto;
    max-width: 1080px;
  }
  .how-it-works .how-it-works-tiles .how-it-works-tile .how-it-works-image {
    height: 165px;
  }

  footer {
    height: 277px;
  }
  footer .logo-brand-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer-links {
    flex: 2;
  }
}
@media only screen and (min-width: 992px) {
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item {
    background: #fff;
    padding: 23px 46px 25px;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item .curriculum-details-img {
    height: 160px;
    width: 160px;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item:nth-of-type(2n + 1) {
    margin-right: 0;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item:nth-of-type(1) {
    margin-right: 30px;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item:nth-of-type(2) {
    margin-right: 30px;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item:nth-of-type(4) {
    margin-right: 30px;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item:nth-of-type(5) {
    margin-right: 30px;
  }
  .curriculum-details .curriculum-details-grid .container-12 .row .curriculum-details-item:nth-of-type(7) {
    margin-right: 30px;
  }

  footer .logo-brand .logo-image {
    height: 70px;
  }
}
@media only screen and (min-width: 1036px) {
  .navbar .logo-brand {
    display: inline-flex;
    align-items: center;
  }
  .navbar .logo-brand .logo-image {
    height: 70px;
  }
  .navbar .logo-brand .logo-text {
    font-size: 32px;
    overflow-x: visible;
    font-weight: bold;
    margin-left: 16px;
    font-family: "Norse";
    line-height: 48px;
    color: #CC9543;
    white-space: nowrap;
  }

  footer .logo-brand .logo-text {
    font-size: 25.6px;
    padding-left: 12.8px;
  }
}
@media only screen and (min-width: 1200px) {
  .success-stories .success-stories-container {
    max-width: 1280px;
  }
}

/*# sourceMappingURL=main_style.css.map */
