@use '../../my_grid_framework/scss/variables';
@use '../../my_grid_framework/scss/media_breakpoints';
@use '../../my_grid_framework/scss/utilities_spacing';
@use '../../my_grid_framework/scss/typography';
@use 'custom_variables' as cv;
@use 'custom_mixins' as cm;

@font-face {
  font-family: "Norse";
  src: url('../typography/norse/Norse-Bold.otf');
}

body {
}

.main-heading {
  color: #ce973e;
  font-family: variables.$font-family-sans-serif-2;
  font-weight: 100;
}

.secondary-heading {
  font-family: variables.$font-family-sans-serif-2;
  color: cv.$grey;
}

.navbar {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;

  .left-nav-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .hamburger-menu {
      display: block;
      background: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2032%2032%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20stroke%3D%27%236abfc3%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20d%3D%27M4%208h24M4%2016h24M4%2024h24%27%2F%3E%3C%2Fsvg%3E") left top no-repeat;
      width: 30px;
      height: 30px;
    }
  }

  .logo-brand {
    display: inline-flex;
    align-items: center;
  
    .logo-image {
      height: 60px;
    }
    
    .logo-text {
      font-size: 24px;
      overflow-x: visible;
      font-weight: bold;
      margin-left: 16px;
      font-family: "Norse";
      line-height: 36px;
      color: #CC9543;
      white-space: nowrap;
    }
  }

  .right-nav-section {
    display: none;
  }

  .nav-links {
    display: flex;
    // flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: variables.$font-family-sans-serif-2;
  }

  .nav-link {
    display: inline-block;
    padding: 8px;
    color: rgba(74, 74, 74, 0.7);
    font-weight: bold;
  }

  .nav-link:hover {
    color:#000;
  }

  .list-divider {
    font-weight: lighter;
    font-size: 24px;
  }
}

.btn-blue-green {
  @include cm.btn(cv.$blue-green);
  @include cm.rounded-corners;
  @include cm.text-white;
  @include cm.shadow;
  font-family: variables.$font-family-sans-serif-2;
  font-weight: bold;
}

.btn-blue-green:hover {
  @include cm.btn(cv.$blue-green-hover);
}

.hero-img {
  width: 100%;
}

// How it works
.how-it-works {
  .how-it-works-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

    h2 {
      font-family: variables.$font-family-sans-serif-2;
      font-weight: bold;
      color: cv.$grey-2;
    }
  
    p {
      font-family: variables.$font-family-sans-serif-2;
      color: cv.$grey;
      line-height: 1.88;
    }
  }

  .how-it-works-tiles {
    margin: 0 auto;
    max-width: 1080px;

    .how-it-works-tile {

      .how-it-works-image {
        height: 120px;
      }
  
      h4 {
        font-family: variables.$font-family-sans-serif-2;
        font-weight: bold;
        color: cv.$grey-2;
      }
  
      p {
        font-family: variables.$font-family-sans-serif-2;
        color: cv.$grey;
        line-height: 1.88;
      }
    }

  }
}

// Curriculum Details
.curriculum-details {
  background: #f3f3f3;

  h2 {
    font-family: variables.$font-family-sans-serif;
    font-weight: bold;
    color: cv.$grey-2;
  }

  .curriculum-details-grid {
    .container-12 {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;

      .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .curriculum-details-item {
          background: #fff;
          padding: 25px;
          width: 270px;
          @include cm.shadow-2;

          .curriculum-details-img {
            height: 80px;
            width: 80px;
          }

          h4 {
            font-family: variables.$font-family-sans-serif-2;
            font-weight: bold;
            color: cv.$grey-2;
            font-size: 18px;
            text-transform: uppercase;
            margin: 10px 0 0;
          }
        }
      }
    }

    .btn-gold {
      @include cm.btn(cv.$gold);
      @include cm.rounded-corners;
      @include cm.text-white;
      @include cm.shadow;
      font-family: variables.$font-family-sans-serif-2;
      font-weight: bold;
    }

    .btn-gold:hover {
      opacity: 0.8;
    }
  }
}

// Success Stories
.success-stories {
  font-family: variables.$font-family-sans-serif;
  line-height: 1.88;
  background-image: linear-gradient(to bottom, #fff, #eee);

  h2 {
    font-weight: bold;
    color: cv.$grey-2;
  }

  .success-stories-container {
    margin: 100px auto 0;
    max-width: 600px;

    .success-story {
      display: flex;

      .photo {
        flex: 0 0 100px;
  
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      .success-content {
        text-align: left;

        .person {
          color: #ce973e;

          &:hover {
            color: #000;
          }
        }

        p {
          color: rgba(74, 74, 74, 0.7);
        }
      }
    }
  }

  .more-success-stories {
    display: block;
    color:  cv.$grey;
    text-decoration-line: underline;

    &:hover {
      color: #000;
    }
  }

  .bottom-cta {
    padding: 80px 40px;

    p {
      color: cv.$grey;
      font-size: 35.2px;
    }
  }
}

// Footer
footer {
  display: flex;
  height: 70px;

  .logo-brand-section {
    display: none;
  }

  .logo-brand-section {
    flex: 2;
  }

  .footer-links {
    flex: 1;
  }

  .social {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 36px;
    }

    .fab {
      color: cv.$gold;
      font-size: 24px;

      &:hover {
        color: black;
      }
    }
  }

  .logo-brand {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-image {
      height: 60px;
    }

    .logo-text {
      font-size: 19.2px;
      font-family: "Norse";
      color: cv.$gold;
      padding-left: 9.6px;
    }
  }

  .footer-links {
    display:none;
    justify-content: center;
    align-items: center;
    color: cv.$grey;

    .footer-links-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 130px;
      height: 90px;
      font-family: variables.$font-family-sans-serif;

      .footer-link {
        flex-basis: 30px;
        font-weight: bold;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

.floating-comments-dropdown-btn {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 20px;

  .hidden-floating-btn-container {
    position: absolute;
    width: 100%;
    
    .hidden-floating-btn {
      display: block;
      background: cv.$blue-green;
      font-size: 24px;
      color: #fff;
      padding: 8px;
      border-radius: 50%;
      box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
      margin: 0 0.6rem 20px;
  
      &:hover {
        box-shadow: 0 0 15px 6px rgba(0,0,0,0.2);
        cursor: pointer;
      }
    }
  }

  .hidden-floating-btn-one {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: top 1s ease-out, opacity 0.5s;
  }

  .hidden-floating-btn-two {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: top 1s ease-out, opacity 0.5s;
  }
  
  .floating-comments-btn {
    position: relative;
    padding: 16px;
    background: cv.$blue-green;
    border-radius: 50%;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 100;

    &:hover {
      box-shadow: 0 0 15px 6px rgba(0,0,0,0.2);
    }

    &:hover + .hidden-floating-btn-two {
      top: -124px;
      opacity: 1;
    }

    &:hover ~ .hidden-floating-btn-one {
      top: -62px;
      opacity: 1;
    }
  }
  
  .fa-comments {
    color: #fff;
    font-size: 32px;
  }
}

@media only screen and (min-width: 480px) {
  footer {
    height: 140px;

    .footer-links {
      display: flex;
    }
  }
}

@include media_breakpoints.media-breakpoint-up(sm) {
  .main-heading {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .curriculum-details {
    .curriculum-details-grid {
      .container-12 {
        .row {
          flex-direction: row;
          justify-content: center;
          align-items: center;
  
          .curriculum-details-item {
            background: #fff;
            padding: 23px 46px 25px;
            width: auto;
  
            .curriculum-details-img {
              height: 160px;
              width: 160px;
            }

            h4 {
              margin: 18px 0 8px;
            }
          }
  
          .curriculum-details-item:nth-of-type(2n + 1) {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

@include media_breakpoints.media-breakpoint-up(md) {
  .navbar {
    padding: 0 168px;

    .left-nav-section {
      width: auto;

      .hamburger-menu {
        display: none;
      }
    }

    .nav-links {
      display: flex;
      // flex-wrap: nowrap;
      height: 100%;
      align-items: center;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  
    .nav-link {
      display: inline-block;
      padding: 8px;
      color: cv.$grey;
      font-weight: bold;
      white-space: nowrap;
    }
  
    .nav-link:hover {
      color:#000;
    }

    .right-nav-section {
      display: block;
    }
  }

  .how-it-works {
    .how-it-works-tiles {
      margin: 0 auto;
      max-width: 1080px;
  
      .how-it-works-tile {
  
        .how-it-works-image {
          height: 165px;
        }
      }
    }
  }

  footer {
    height: 277px;

    .logo-brand-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-links {
      flex: 2;
    }
  }
}

@media only screen and (min-width: 992px) {
  .curriculum-details {
    .curriculum-details-grid {
      .container-12 {
        .row {
  
          .curriculum-details-item {
            background: #fff;
            padding: 23px 46px 25px;
  
            .curriculum-details-img {
              height: 160px;
              width: 160px;
            }
          }
  
          .curriculum-details-item:nth-of-type(2n + 1) {
            margin-right: 0;
          }

          @for $i from 1 through 7 {
            @if $i % 3 != 0 {
              .curriculum-details-item:nth-of-type(#{$i}) {
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .logo-brand {
      .logo-image {
        height: 70px;
      }
    }
  }
}

@media only screen and (min-width: 1036px) {
  .navbar {  
    .logo-brand {
      display: inline-flex;
      align-items: center;
    
      .logo-image {
        height: 70px;
      }
      
      .logo-text {
        font-size: 32px;
        overflow-x: visible;
        font-weight: bold;
        margin-left: 16px;
        font-family: "Norse";
        line-height: 48px;
        color: #CC9543;
        white-space: nowrap;
      }
    }
  }

  footer {
    .logo-brand {  
      .logo-text {
        font-size: 25.6px;
        padding-left: 12.8px;
      }
    }
  }
}

@include media_breakpoints.media-breakpoint-up(xl) {
  .success-stories {
    .success-stories-container {
      max-width: 1280px;
    }
  }
}