@use 'utilities_spacing';
@use 'typography';

$padding-values: 0 5 16 18 56 60 100;
$margin-values: 0 15 16 20 30 36 40 50 60 70 100;
$font-sizes: 18 20 24 36;

@each $value in $padding-values {
  @include utilities_spacing.spacing-class("padding", $value, px);
}

@each $value in $margin-values {
  @include utilities_spacing.spacing-class("margin", $value, px);
}

@each $value in $font-sizes {
  @include typography.font-size-class($value, px);
}